@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap');


.serviceList ul {
    font-family: barlow condensed,sans-serif;
    list-style: none;
    border-bottom: 0;
    border: 4px solid #f1f5f7;
}

.serviceList li {
 border-bottom: 1px solid #f1f5f7;
}
.serviceList a {
    font-family: barlow condensed,sans-serif;
    font-size: 16px;
    font-size: 1.06667rem;
    background: #fff;
    font-weight: 500;
    display: block;
    color: #0a172b;
    padding: 15px 24px;
    position: relative;
    text-decoration:none;
}

.serviceList a:hover {
    color: #e1a436;
    
}


 .serviceList a:before {
    content: "";
    background: #e1a436;
    width: 4px;
    height: 100%;
    position: absolute;
    left: -4px;
    top: 0;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.current a:before {
    opacity: 1;
}

 .serviceList a:hover:before,  .serviceList .current a:before {
   color:white;
    opacity: 1;
}

.serviceList .current a {
color:#e1a436;
  
}

.ServiceLinks{
margin-top: 60px;
}

.ServiceLinks ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.ServiceLinks ul a {
    background: #222;
    color: white;
    padding: 18px 25px;
    font-weight: 500;
    display: block;
    
}

.ServiceLinks ul>li+li {
    margin-top: 5px;
}

